.listaProductos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  text-align: center;
  
  
}

@media all and (max-width:920px) /*ipad air*/ {
  .listaProductos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
    text-align: center;}

}

@media all and (max-width:600px)/*iphone 12pro*/{
  .listaProductos{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
    text-align: center;}


}