* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}


.App-header {
  min-width: "100%";
  min-height: "100%";
  padding: 5px;
  align-items: center;
}
  

.video {
  background-size: cover;
  position: "absolute";
  z-index: -"1";
  
}

