.cart{
    padding: 3px 7px;
    position: relative;
    display: inline-block;
}
    .icono {
      margin: 2px;
      font-size: 24px;
      color: rgb(62, 209, 17);
    }
  
    .badge {
     
      top: 10px;
      right: 10px;
      padding: 5px;
      border-radius: 50%;
      
      color: rgb(189, 13, 13);
      font-size: 30px;
    }
  