.navBar {
   
    padding: 10px 15px;
    position: absolute;
    color:  rgb(62, 209, 17);
    font-style: italic;
    font-size: 40px;
    display: flex;
    top:100px;
}

    .izquierda {
    position: relative;
    left: -520px;
    margin-left: 5px;
    
    }



  .derecha{
    position: relative;
    right: -500px;
    margin-right: 5px;
    font-size: 50px;
  }