.navBar {
   
    padding: 10px 15px;
   position: relative;
    color:  rgb(62, 209, 17);
    font-style: italic;
}

    .izquierda {
    left: 10px;
    margin-left: 5px;
    
    }



  .derecha{
    right: 10px;
    margin-right: 5px;
  }