.navBar {

  padding: 10px 15px;
  position: absolute;

  font-family: Verdana;
  font-size: 40px;
  display: grid;
  top: 600px;
  grid-auto-columns: 3fr auto;

}

.derecha {
  color: rgb(62, 209, 17);
  position: relative;
  margin-left: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.derecha {
  color: rgb(62, 209, 17);
  position: relative;
  margin-right: 5px;
  font-size: 50px;

}